<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h1>{{ title$ | async }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="height: 128px; display: flex"  class="ion-align-items-center ion-justify-content-center">
        <ion-fab *ngIf="!selectedMoodIcon">
          <ion-fab-button (click)="openModal()">
            <ion-icon name="happy-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <img *ngIf="selectedMoodIcon" (click)="openModal()" class="selected-mood" [src]="selectedMoodIcon.src" [alt]="selectedMoodIcon.name">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-textarea
            label="Notes"
            labelPlacement="floating"
            maxlength="250"
            placeholder="Notes on how you feel..."
            rows="3"
            [(ngModel)]="note"
          >
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="4" offset="4">
        <ion-button [disabled]="!selectedMoodIcon" (click)="save()">Save Mood</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal>
  <ng-template>
    <ion-header class="ion-text-center">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Pick a mood</ion-title>
        <ion-buttons slot="end">
          <ion-button [disabled]="selectedMoodIndex === -1" [strong]="true" (click)="selectMoodIcon()">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let moodIcon of moodIcons; let i = index" size="4" [class.selected]="selectedMoodIndex === i">
            <img class="modal-mood" [src]="moodIcon.src" [alt]="moodIcon.name" (click)="selectedMoodIndex = i">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
