.modal-mood {
  height: auto;
  width: auto;
}

.selected-mood {
  height: 128px;
  width: 128px;
}

ion-modal ion-col.selected {
  border: 3px solid var(--ion-color-primary);
  border-radius: 8px;
}
