<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" color="tertiary">
    <h1>mood tracker</h1>
  </ion-text>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-input
              type="text"
              required="true"
              label="Email"
              labelPlacement="floating"
              [formControl]="emailControl"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
        <ion-col>
          <ion-text *ngIf="emailControl.errors?.['required']" color="danger">
            Email is required.
          </ion-text>

          <ion-text *ngIf="emailControl.errors?.['email']" color="danger">
            Field must contain an email.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-input
              type="password"
              required="true"
              label="Password"
              labelPlacement="floating"
              [formControl]="passwordControl"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
        <ion-col>
          <ion-text *ngIf="passwordControl.errors?.['required']" color="danger">
            Password is required.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Sign in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
